<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<dashboard xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <remoteServices>
    <servers xdt:Transform="Replace">
      <!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
      <server name="127.0.0.1" url="tcp://127.0.0.1:21234/CruiseManager.rem" allowForceBuild="true" allowStartStopBuild="true" backwardsCompatible="false" />
    </servers>
  </remoteServices>
</dashboard>